acmart.cls
acmart.pdf
acmguide.pdf
sample-*.pdf
main.pdf
*.log
*.aux
*.cfg
*.glo
*.idx
*.toc
*.ilg
*.ind
*.out
*.lof
*.lot
*.bbl
*.blg
*.gls
*.cut
*.hd
*.dvi
*.ps
*.thm
*.tgz
*.rpi
*~
*.bcf
*.run.xml
*.DS_Store

## Build tool auxiliary files:
*.fdb_latexmk
*.synctex
*.synctex(busy)
*.synctex.gz
*.synctex.gz(busy)
*.pdfsync

*.fls


rep-pack/.ipynb_checkpoints/*
replication-package/.ipynb_checkpoints/*
